# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
.env

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs
*.log

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python coverage / test
.pytest_cache/
.coverage
.coverage.*
coverage.xml


